

body {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
}

#logo{
    color: white;
}

 

#header-header{
    padding: 0 0 0 30px;
    height: 80px;
    background: rgb(51, 51, 51);
    width: 100%;
    display: flex;
    align-items: center;
}


ul li{
    display: inline-block;
    padding: 0 10px;
    list-style: none;
   
}

a{
    color: rgb(0, 0, 0);
      text-decoration: none; 
      color: white;
}

a:hover{
    color: rgb(79, 101, 226);
    

}

#log{
    margin-left: 1000px;
}

#log:hover{
    color: white;
}

section {
    flex: 0.8;
    height: 100%;
    padding: 15px;
    background-color: rgb(145, 145, 192);
}

aside {
    flex: 0.2;
    padding: 15px;
    border-left: 3px solid #666;
    background-color: rgb(118, 118, 206);

}

footer{
    padding: 0 10px;
    background: #1c4b40;
      display: flex;
    align-items: center;
    width: 100%;
}

/* Para poner el footer abajo del todo. 
position: fixed;
bottom: 0;
*/